<div class="heroes-list">
    <div class="heroes-list--intro">
        <h3>Angular Example Translation APP</h3>
        <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
            Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
            Aldus PageMaker including versions of Lorem Ipsum.</span>
    </div>

    <div class="heroes-list--heroes">
        <div class="hero" *ngFor="let hero of heroes">
            <img class="hero--image" src="{{hero.thumbnail.path}}.{{hero.thumbnail.extension}}" alt="">
            <div class="hero--details">
                <div>
                    <span class="hero--details--label">Name</span>
                    <span>{{hero.name}}</span>
                </div>
                <div>
                    <span class="hero--details--label">Id</span>
                    <span>{{hero.id}}</span>
                </div>
                <div>
                    <span class="hero--details--label">Description</span>
                    <span>{{hero.description}}</span>
                </div>
            </div>
        </div>
    </div>
</div>