<div class="heroes-list">

    <div class="heroes-list--container">
        <div class="heroes-list--heroes">
            <div class="hero" *ngFor="let hero of heroes">
                <img class="hero--image" src="{{hero.thumbnail.path}}.{{hero.thumbnail.extension}}" alt="">
                <div class="hero--details">
                    <div>
                        <span class="hero--details--label">Name</span>
                        <span>{{hero.name}}</span>
                    </div>
                    <div>
                        <span class="hero--details--label">Id</span>
                        <span>{{hero.id}}</span>
                    </div>
                    <div>
                        <span class="hero--details--label">Description</span>
                        <span>{{hero.description}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <mat-paginator class="heroes-list--paginator"
        [length]="totalResults"
        [pageSize]="pageSize"
        (page)="onPage($event)">
    </mat-paginator>
</div>