@import '../styles.scss';

.home {
  background-image: url("../assets/images/marvel.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  color: $gray-text;
  position: relative;


  &--footer {
    position: absolute;
    bottom: 0;
    right: 0;
    border: 2px solid $white;
    border-radius: $border-radius;
    background-color: $heroes-list-background-color;
    padding: $base-margin;
  }
}
